{
  "extends": "@antfu",
  "rules": {
    // 保存代码时缩进4个空格
    // "indent": [
    //   "error",
    //   4
    // ]
    "no-console": [
      "warn",
      {
        "allow": [
          "error",
          "warn"
        ]
      }
    ],
    "curly": [
      "error",
      "multi-line",
      "consistent"
    ],
    "brace-style": "off",
    "@typescript-eslint/brace-style": [
      "error",
      "1tbs"
      // {
      //   "allowSingleLine": true
      // }
    ],
    "antfu/if-newline": "off", // 允许if(a==1) return 1  这种单行的格式
    "antfu/top-level-function": "off",
    "vue/component-tags-order": [
      "error",
      {
        "order": [
          [
            "script",
            "template"
          ],
          "style"
        ]
      }
    ],
    "vue/first-attribute-linebreak": [
      "warn",
      {
        // "singleline": "ignore",
        "multiline": "beside"
      }
    ],
    "vue/html-closing-bracket-newline": [
      "warn",
      {
        // "singleline": "never",
        "multiline": "never"
      }
    ],
    "vue/html-indent": [
      "warn",
      2,
      {
        // "attribute": 1,
        // "baseIndent": 1,
        // "closeBracket": 0,
        "alignAttributesVertically": false
        // "ignores": []
      }
    ]
  }
}