.co-image {
    position: relative;

    .el-image__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

// el-image图片组件错误时样式
.co-image-error {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--el-color-info-light-3);
    background-color: var(--el-color-info-light-9);

    i {
        font-size: 36px;
    }
}


.el-dropdown-menu__item {
    &.on {
        background-color: var(--el-color-primary-light-9);
        color: var(--el-color-primary);
    }
}