// @use 'sass:map';
// $bgColor: #fff;
@forward "element-plus/theme-chalk/src/common/var.scss" with ($colors: ("primary": ("base": #47ccad),
    // "success": ("base": #04ae8b),
    // "warning": ("base": #FF771C),
    // "danger": ("base": #ff3030),
    // "error": ("base": #ff3030),
    // "info": ("base": #9e9e9e),
  ));

@use "element-plus/theme-chalk/src/index.scss" as *;


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*设置滚动条颜色*/
    scrollbar-color: #ccc #eee;
    /*去掉三角(滚动条宽度为8px)*/
    scrollbar-width: thin;
    /*隐藏滚动条（可以滚动）*/
    /* scrollbar-width: none; */
}

::-webkit-scrollbar {
    /*Chrome下隐藏滚动条（宽度设为0即可）*/
    width: 10px;
    height: 10px;
    background: #eee;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    opacity: 0.5;
    -webkit-box-shadow: inset 0 0 2px 2px #ccc;
    box-shadow: inset 0 0 2px 2px #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}



:root {
    --m-color-white: #fff;
    --m-body-bg-color: #f3f3f3;
    --co-main-color: #47ccad;
    --co-white-color: #fff;

}

:focus-visible {
    outline: none;
}

// body {
//   background-color: var(--m-body-bg-color);
// }

.container {
    width: 1200px !important;
    //   max-width: 1200px !important;
    max-width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

.co-main-color {
    color: var(--co-main-color);
}

.co-main-bg-color {
    background-color: var(--co-main-color);
}